@font-face {
	font-family: 'Wisdom_Script_AJ';
	src: url("QuaverSerif.otf");
}

body {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}

ul {
	margin:0px;
	padding:0px;
}

ol {
	margin:0px;
	padding:0px;
}

ul li {
	list-style-type:none;
}

ol li {
	list-style-position:inside;
	padding:5px;
}

img {
	border:none;
}

a {
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}

#wrapper {
	width:100%;
	margin:0 auto;
}

#header {
	width:100%;
	background:black;
	padding:20px 0px;
}

#nav {
	width:1200px;
	margin:0 auto;
}

#nav ul {
	text-align:center;
}

#nav li {
	display:inline-block;
	margin:0px 20px;
}

#nav li a {
	color:white;
	font-size:18px;
	font-family:'Wisdom_Script_AJ';
}

#nav li.active a {
	color:gray;
}

#nav li a:hover {
	color:gray;
}

#footer {
	padding:10px 0px;
	background:gray;
	text-align:center;
	color:#eee;
}

#main {
	min-height:500px;
	width:1200px;
	margin:20px auto;
}

.home img {
	width:100%;
}

.item {
	margin-bottom:30px;
}

.item .title {
	background:#999;
	padding:5px 0px;
	font-size:20px;
	padding-left:5px;
}

.item p {
	padding-left:5px;
}

.about ol li {
	font-style:italic;
}

.about p {
	margin:0px;
	padding:5px;
	font-style:italic;
}

.design img {
	width:100%;
	border:2px solid #ccc;
	box-sizing:border-box;
	margin:5px;
}

.photography .imgs {
	overflow:hidden;
	padding-top:5px;
}

.photography .imgs .sub {
	float:left;
	width:25%;
	text-align:center;
}

.photography .imgs .sub img {
	width:99%;
}

.travel .imgs {
	padding-top:5px;
	text-align:center;
}

.travel .imgs img {
	width:100%;
	margin-bottom:5px;
}


























